div.text-name
{
 margin-top: 20px;

}
div h3
{
	color: blue;
}
button.btnadd
{
	margin: 15px;
}
.main-space
{
	height: 30px;
}

.main-space1 
{
	height: 150px;
}

.btnupadte
{
	 float: right;
	 margin: 15px;
}
